
.card-container{
  display: flex;
  flex-wrap: wrap;
}

.button-load-more{
  margin: 10px 0;
  width: 50%;
  height: 40px;
  border-radius: 5px;
  background-color: inherit;
  border: 1px solid #4a90e2;
}

.button-load-more span{
  white-space: nowrap;
  color: #4a90e2;
  font-weight: 400;
  /* font-size: 1rem; */
}
.card-product{
  cursor: pointer;
  width: 19%;
  padding: 5px 5px;
  margin: 0.5% 0.5%;
  box-shadow: 0px 0px 10px rgb(210, 210, 210);


}
.card-product:hover{
  box-shadow: 0px 0px 20px rgb(193, 193, 193);

}

.img_product{
  width: 100%;
  text-align: center;
}
.img_product img{
  width: 80%;
}

.name_product{
  font-weight: bold;
  color: rgb(59, 59, 59);
}

.footer-product{
  display: flex;
  justify-content: space-between;
}
.stars{
  color: rgb(255, 179, 0);
}

.icon-favorite:hover{
  cursor: pointer;
  color: red 
  
}


.price-product-variant{
  font-weight: 500;
}

@media  screen and (max-width: 992px) {
  .card-product{
    width: 24%;
    padding: 5px 5px;
    margin: 0.5% 0.5%;
  }

}
@media  screen and (max-width: 768px) {
  .card-product{
    width: 49%;
    padding: 5px 5px;
    margin: 0.5% 0.5%;
  
  }
 
}