:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  /* color-scheme: light dark; */
  background-color: #242424;
  /* background-color: #6c757d !important; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



article {
  min-height: 90vh;
  padding-top: 64px;
}

#bottom-navigator {
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  align-content: center;
  box-shadow: 0px -5px 100px 0 rgba(112, 111, 111, 0.25);
  z-index: 999;
}

#bottom-nav-items {
  display: flex;
  justify-content: space-around;

}

.nav-icon {
  color: #d70018;
}

.item-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-product {
  max-height: 600px;
  overflow-y: auto;
}
.content-product img {
  max-width: 100%;
  object-fit: contain;

}

#footer {
  display: none;
}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {


  #body {
    padding-bottom: 50px;
  }


}