#menu {
  display: flex;
  margin: 5px 0;
  justify-content: space-around;
  min-height: 100px;
}

#menu-left {
  width: 25vw;
  margin-right: 1vw;
}

#links-category {
  display: flex;
  flex-direction: column;
  padding: 0;
  overflow-y: auto;
  height: 100px;
}


.link-category {
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.link-category span {

  padding: 0 5px;

}

.link-category:hover {
  background-color: rgb(233, 233, 233);
  color: inherit;
  font-weight: bold;
}

#menu-center {
  width: 100%;
  height: auto;
}

#menu-center img {
  width: 100%;
  height: auto;
  display: block;
}

#menu-right {
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#menu-right .banner-ads {
  width: 90%;
  height: auto;
}

#menu-right .banner-ads img {
  width: 100%;
  margin: 5px 0;
  border-radius: 10px;
  border: 1px solid black;
}

#menu-right img {
  width: 300px;
}

@media screen and (max-width: 992px) {
  #menu {
    padding-top: 64px;
  }

  #menu-right {
    display: none;
  }

}

@media screen and (max-width: 768px) {
  #menu-left {
    display: none;
  }

}